@(apps: List[AppInfo], formData:Form[AppData], message: Option[String] = None)

@import MyHelper._
@import helper._

@main("App Management", "app") {

<div id="data">
    @message.map { v =>
        <div id="error" class="alert alert-danger">
            @v
        </div>
    }

    @form(action = routes.AppManager.addApp, 'id -> "form_id", 'role -> "form", 'method -> "POST", 'class -> "form-inline") {
        @inputText(formData("name"), 'class -> "form-control", 'placeholder -> "Package Name e.g. com.seven.asimov")
        @inputText(formData("version_code"), 'class -> "form-control", 'placeholder -> "Version Code e.g. 123")
        @inputText(formData("version_name"), 'class -> "form-control", 'placeholder -> "Version Name e.g. 3.2.0")

        <button type="submit" class="btn btn-default">Add New App</button>
    } 
</div>

<div id="app_data">
    <table class="table table-striped">

        <thead>
        <tr>
            <th>App Package Name</th>
            <th>Initial Version Info (Code / Name)</th>
            <th>Current Version Info (Code / Name)</th>
            <th>Last Update</th>
            <th>Operation</th>
        </tr>
        </thead>

        <tbody>
        @if(apps.size > 0) {
            @for(item <- apps){
            <tr @if(item.currentVersionCode.isDefined && item.currentVersionCode != Option(item.initVersionCode)){class="warning"} >
                <td>@item.name</td>
                <td>@item.initVersionCode / @if(item.initVersionName == null || item.initVersionName.size == 0) {unknown} else {item.initVersionName}</td>
                <td>@item.currentVersionCode.fold("unknown")(_.toString) / @item.currentVersionName.getOrElse("unknown")</td>
                <td>@item.lastUpdate.getOrElse("")</td>

                <td>
                    <a href="@routes.AppManager.removeApp(item.id)" class="btn btn-primary">Remove App</a>
                    <a href="@routes.AppManager.resetApp(item.id)" class="btn btn-primary">Reset Version Info</a>
                </td>
            </tr>
            }
        } else {
            <tr class="warning">
                <td colspan="5" style="text-align: center;"><h4>No Available App</h4></td>
            </tr>
        }
        </tbody>

    </table>
</div>

}
