@(appInfos: List[AppInfo])

@main("App Info") {

<div id="app_data">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>App Package</th>
            <th>Current Version</th>
            <th>Previous Version</th>
            <th>Last Update</th>
        </tr>
        </thead>

        <tbody>
        @if(appInfos.size > 0) {
        @for(item <- appInfos){
            <tr>
                <td>@item.app.name</td>
                <td>@item.versionName / @item.versionCode</td>
                <td>UNKNOWN</td>
                <td>@item.lastUpdate</td>
            </tr>
        }
        } else {
            <tr class="warning">
                <td colspan="4" style="text-align: center;">No App Info</td>
            </tr>
        }
        </tbody>

    </table>
</div>

}
