@(subscribers: List[Subscriber])

@main("Subscriber Management", "subscriber") {

<div id="data">
    <form class="form-inline" role="form" action="@routes.SubscriberManager.addSubscriber" method="POST">
        <div class="form-group">
            <label class="sr-only" for="subscriber">E-Mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail">
        </div>

        <div class="form-group">
            <label class="sr-only" for="name">User Name (optional)</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="User Name (optional)">
        </div>

        <button type="submit" class="btn btn-default">Add New Subscriber</button>
    </form>    
</div>

<div id="app_data">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Operation</th>
        </tr>
        </thead>

        <tbody>
        @if(subscribers.size > 0) {
            @for(item <- subscribers){
            <tr>
                <td>@item.id</td>
                <td>@item.name.getOrElse("")</td>
                <td>@item.email</td>
                <td><a href="@routes.SubscriberManager.removeSubscriber(item.id)">Remove Subscriber</a></td>
            </tr>
            }
        } else {
            <tr class="warning">
                <td colspan="4" style="text-align: center;">No Subscriber!</td>
            </tr>
        }
        </tbody>

    </table>
</div>

}
