@(subscribers: List[Subscriber], formData: Form[(String, String)])

@import MyHelper._
@import helper._

@main("Subscriber Management", "subscriber") {

<div id="data">
    <div id="warn" class="alert alert-warning">
        <b>NOTE:</b><br/>Only INTERNAL mail address (@@seven.com) allowed!
    </div>

@******************
    @if(formData.hasErrors || formData.hasGlobalErrors){
    <div id="error" class="alert alert-danger">
        <ul>
        @for(e <- formData.globalErrors) {
            <li>@Messages(e.message)</li>
        }

        @for(e <- formData.errors) {
            <li>@Messages(e.message)</li>
        }
        </ul>
    </div>
    }
******************@

    @form(action = routes.SubscriberManager.addSubscriber, 'id -> "form_id", 'role -> "form", 'method -> "POST", 'class -> "form-inline") {
        @inputText(formData("email"), 'class -> "form-control", 'placeholder -> "E-Mail")
        @inputText(formData("name"), 'class -> "form-control", 'placeholder -> "User Name (optional)")

        <button type="submit" class="btn btn-default">Add New Subscriber</button>
    } 
</div>

<div id="app_data">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Operation</th>
        </tr>
        </thead>

        <tbody>
        @if(subscribers.size > 0) {
            @for(item <- subscribers){
            <tr>
                <td>@item.name.getOrElse("")</td>
                <td>@item.email</td>
                <td><a href="@routes.SubscriberManager.removeSubscriber(item.id)" class="btn btn-primary">Remove Subscriber</a></td>
            </tr>
            }
        } else {
            <tr class="warning">
                <td colspan="4" style="text-align: center;"><h4>No Subscriber!</h4></td>
            </tr>
        }
        </tbody>

    </table>
</div>

}
